<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-outline-primary form-control" asp-route-id="Model.Id" style="font-size:24px">
            <i class="bi bi-box-arrow-down" style="font-size: 24px"> Guardar</i>
        </button>
    </div>
    &nbsp;
    <div class="col">
        <div class="col">
            <a asp-action="Index" class="btn btn-outline-success form-control" style="font-size:24px">
                <i class="bi bi-backspace" style="font-size: 24px"> Volver</i>
            </a>
        </div>
    </div>
</div>